.header{
    background-color:cadetblue;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin-bottom: 10px;
}